/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}

/* Containers */

.Footer_bar {
    background-color: rgb(40, 40, 40);
    height: 100px;
    display:flex;
    flex-direction: row;
}

.container_main {
    height: calc(100vh - 100px);
    background-color: blue;
    display: flex;
}

.container_main .container_vert {
    width: 230px;
    height: 100%;
    background-color: black;
    
}

.container_main .container_cent {
    flex-grow: 1;
    background-color: green;
    overflow-y: auto;
}

.container_cent .Top_bar {
    height: 80px;
    background-color: yellow;
}

.container_main .container_block{
    background-color: rgb(20, 25, 34);
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
}


.container_main .block {
    height: 300px;
    width: calc((100% / 6) - 20px);
    /* background-color: aqua;   */
    margin: 10px;
    text-align: center;
    position: relative;
}

/* ----------------------Container Verticale----------------------------- */

.container_vert ul{
    list-style-type: none;
    padding: 20px;
}
.container_vert li {
    margin: 10px 0px 10px 0px;
}
.container_vert h3 {
    color: white;
    font-size: 25px;
    padding: 20px;
}

.container_vert .Logo2 {
    display: none;
}

.container_vert img {
    width: 150px;
    margin: 0px 0px 0px -15px;
}

.container_vert h5, .fa-solid, .fa-regular{
    display: inline-block;
    margin: 0px 15px 0px 0px;
    font-size: 20px;
}

.container_vert .fa-square-plus {
    font-size: 35px;
}

.container_vert .profile, .fa-circle-user {
    color: white;
    font-weight: bold;
}

.container_vert a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(113, 113, 113);
}

.container_vert a:hover {
    color: white;
}

/* ----------------------Container Centrale----------------------------- */

.container_block .Title {
    flex-basis: 100%;
    font-size: 30px;
    margin: 50px 10px 20px 10px;
}

.container_block h3 {
    color: white;
}

.container_block h7 {
    color: rgb(117, 119, 124);
}

.container_block .block img {
    width: 100%;
    
}

.container_block .block h3, h7{
    font-size: 17px;
}

.container_block .block h7 {
    font-size: 15px;
}


/* Container circolari */
.container_block .block .circle img{
    border-radius: 50%;
    object-fit: contain;
}

.container_block .block .fa-circle-play {
    display: none;
    position: absolute;
    font-size: 80px;
    color: white;
    top: 25%;
    left: 30%;
    
}

.container_block .block .circle:hover img{
    opacity: 0.5;
}

.container_block .block .circle:hover .fa-circle-play {
    display: inline-block;
}


/* ----------------------Container orizzontale----------------------------- */

.Footer_bar li {
    display: inline-block;
}


/*-------------------Lato sinistro--------------------- */

.Footer_bar .Lato_sin img {
    width: 100%;
}

.Footer_bar .Lato_sin .Select_Img {
    max-width: 50px;
    max-height: 50px;
}

.Footer_bar .Lato_sin h5,h7{
    color: white;
}

.Footer_bar .Lato_sin .Icon {
    margin: 10px 0px 0px 0px;
}

.Footer_bar .Lato_sin .fa-regular {
    color: rgb(113, 113, 113);
    margin: 0px 0px 0px 0px;
}

.Footer_bar .Lato_sin  a{
    text-decoration: none;
    cursor: pointer;
}

.Footer_bar .Lato_sin a:hover {
    color: white;
}
/*-------------------centro--------------------- */

.Footer_bar .Centro {
    flex-basis: 60%;
    padding: 20px;
}

.Footer_bar .Centro .fa-solid, .fa-regular {
    color: white;
}
/*-------------------lato destro--------------------- */

.Footer_bar .Lato_des {
    flex-basis: 20%;
    padding: 20px;
}


 /************************************************
    PARTE RESPONSIVE
 ************************************************/


 /* Versione mobile */
 @media screen and (max-width: 767px) {


/* Container verticale */

    .container_main .container_vert {
        max-width: 50px;
    }

    .container_vert .Logo2 {
        display: inline-block;
    }

    .container_vert .Logo2 {
        width: 35px;
        margin: 0px 0px 0px -7px;
    }

    .container_vert ul{
        padding: 15px;
    }

    .container_vert h5, h3, .fa-square-plus, hr, .Logo1{
        display: none;
    }

    .container_vert .down {
        margin-top: 430px;
    }

/* Container orizzontale */

.Footer_bar .fa-solid, .fa-regular {
    font-size: 15px;
    color: white;
}
    
  
/* Sinistro */
    .Footer_bar .Lato_sin {
        flex-basis: 40%;
        padding: 10px;
    }
   
    .Lato_sin li {
        width: 30%;
    }

   .Footer_bar .Lato_sin h5,h7{
        display: inline-block;
        font-size: 10px;
        width: 60px;
    }

    .Lato_sin .fa-regular {
        display: block;
      
    }


/* Centro */
    .Footer_bar .Centro {
        flex-basis: 45%;
        padding: 10px;
    }

    .Centro  #vol{
        display: inline-block;
        width: 100px;
    }
    
    .Centro span {
        color: white;
        font-size: 10px;
    }

    .Footer_bar .Centro .fa-regular, .fa-solid {
        margin-left: -2px;
    }

/* Destro */
    .Footer_bar .Lato_des {
        flex-basis: 40%;
        padding: 10px;
    }

    .Footer_bar .Lato_des  li {
        width: 100%;
        margin-top: 20px;
    }

    .Footer_bar .Lato_des .fa-solid{
        font-size: 15px;
        margin-left: -15px;
    }
        
    .Lato_des  #vol{
        width: 70px;
        margin-left: -5px;
    }
    
}

 /* Versione tablet */
 @media screen and (min-width: 768px) {

    .container_main .container_vert {
        min-width: 230px;
    }

    .container_vert .down {
        margin-top: 140px;
    } 

 /* Container orizzontale */

 .Footer_bar .fa-solid, .fa-regular {
    font-size: 20px;
    color: white;
}

/* Sinistro */
.Footer_bar .Lato_sin {
    flex-basis: 40%;
    padding: 10px;
 }

/* Centro */
.Footer_bar .Centro {
        flex-basis: 40%;
        padding-left: 50px;
    }

    .Centro li {
        width: 100%;
        text-align: center;
    }

    .Centro span {
        color: white;
    }
/* Destro */
.Footer_bar .Lato_des {
    flex-basis: 20%;
    padding-left: 10px;
}


}

 /* Versione Desktop */
 @media screen and (min-width: 1500px) {


    .container_vert .down {
        margin-top: 140px;
    }

/* Container orizzontale */

/* Sinistro */

.Footer_bar .Lato_sin {
    flex-basis: 25%;
    padding: 10px;
 }

.Footer_bar .Lato_sin .Select_Img {
    max-width: 80px;
    max-height: 80px;
}

/* Centro */
.Footer_bar .Centro {
    flex-basis: 50%;
    padding-right: 150px;
}

/* Destro */
.Footer_bar .Lato_des {
    flex-basis: 25%;
    padding-left: 10px;
}


}


 /* Versione Desktop */
 @media screen and (min-width: 1900px) {

    .container_vert .down {
        margin-top: 260px;
    }
 }