/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}

/* Containers */

.Footer_bar {
    background-color: rgb(40, 40, 40);
    height: 100px;
    display:flex;
    flex-direction: row;
}

.container_main {
    height: calc(100vh - 100px);
    display: flex;
}

.container_main .container_vert {
    width: 230px;
    height: 100%;
    background-color: black;
}

.container_main .container_cent {
    flex-grow: 1;
    overflow-y: auto;
}

.container_cent .Top_bar {
    height: 80px;
    width: 100vw;
    background-color: rgb(8, 11, 18);
    opacity: 0.9;
    position: fixed;
    z-index: 1;
}

.container_main .container_block{
    background-color: rgb(20, 25, 34);
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
}

/* ----------------------Container Verticale----------------------------- */

.container_vert ul{
    list-style-type: none;
    padding: 20px;
}

.container_vert li {
    margin: 10px 0px 10px 0px;
}

.container_vert .Scroll_list {
    padding-bottom: 20px;
    height: 180px;
    overflow-y: auto;
}

.container_vert .profile, .fa-circle-user {
    color: white;
    font-weight: bold;
}

.container_vert a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(113, 113, 113);
}

.container_vert a:hover {
    color: white;
}


/* ----------------------Container top----------------------------- */
.Top_bar a{
    text-decoration: none;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
}

.Top_bar a:hover {
    color: gray;
}

/* ----------------------Container Centrale----------------------------- */

.container_block .Title {
    flex-basis: 100%;
    font-size: 30px;
    margin: 50px 10px 20px 10px;
}

.container_block h3 {
    color: white;
}

.container_block h7 {
    color: rgb(117, 119, 124);
}

.container_block .block img {
    width: 100%;
}

.container_block .block h3{
    font-size: 17px;
}

.container_block .block h7 {
    font-size: 15px;
}


/* Container circolari */
.container_block .block .circle img{
    border-radius: 50%;
    object-fit: contain;
}


.container_block .block .circle:hover img{
    opacity: 0.5;
}

.container_block .block .circle:hover .fa-circle-play {
    display: inline-block;
}


/* Footer bar */
.range::-webkit-slider-runnable-track {
    height: 5px;
    background: rgb(90, 90, 90);
    border-radius: 16px;
  }
  
  .range1::-moz-range-track {
    height: 5px;
    background: rgb(90, 90, 90);
    border-radius: 16px;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 5px;
    width: 5px;
    background-color: rgb(90, 90, 90);
    border-radius: 50%;
    box-shadow: -407px 0 0 400px rgb(193, 193, 193);
  }
  

/*-------------------Lato sinistro--------------------- */

.Footer_bar .Lato_sin img {
    width: 100%;
}

.Footer_bar .Lato_sin .Select_Img {
    max-width: 50px;
    max-height: 50px;
}

.Footer_bar h5,h7, span{
    color: white;
}

.Footer_bar .Lato_sin .Icon {
    margin: 10px 0px 0px 0px;
}


 /************************************************
    PARTE RESPONSIVE
 ************************************************/


 /* Versione mobile */
 @media screen and (max-width: 768px) {


/* Container verticale */

    .container_main .container_vert {
        min-width: 50px;
    }

    .container_main .container_vert .Logo2 {
        display: inline-block;
    }

    .container_main .container_vert .Logo2 {
        width: 35px;
        margin: 0px 0px 0px -7px;
    }

    .container_main .container_vert ul{
        padding: 15px;
    }

    .container_vert  h3{
        display: none;
    }

    .container_vert  ul h5, .fa-square-plus, hr, .Logo1{
        display: none;
    }

    .container_main .container_vert .down {
        margin-top: 240px;
    }


/* Container top */

.container_cent .Top_bar {
    padding-left: 35%;
    padding-top: 5%;
}

/* Container centrale */

.container_main .menu a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(113, 113, 113);
    margin:10px 0px 10px 0px;
    width: calc(100% / 6);
    font-size: 12px;
    font-weight: bold;
}

.container_main .menu a:hover {
    color: white;
}

.container_main .block {
    height: 300px;
    width: 300px;
    margin: 10px;
    text-align: center;
    position: relative;
}

.container_cent  h3{
    font-size: 25px;
}

.container_cent  h7{
    width: 200px;
}

.container_block .block .fa-circle-play {
    display: none;
    position: absolute;
    font-size: 60px;
    color: white;
    top: 25%;
    left: 32%;
}

/* Container orizzontale */

.Footer_bar .fa-solid {
    font-size: 15px;
}
    
  
/* Sinistro */
     .Lato_sin {
        flex-basis: 40%;
        padding: 10px;
    }
   
    .Lato_sin li {
        width: 30%;
        display: inline-block;
    }

    .Lato_sin h5,h7{
        display: inline-block;
        font-size: 10px;
        width: 60px;
    }

    .Lato_sin .fa-regular {
        display: block;
    }

    .Lato_sin  a{
        text-decoration: none;
        cursor: pointer;
        color: rgb(113, 113, 113);
    }
    
    .Lato_sin a:hover {
        color: white;
    }


/* Centro */
    .Centro {
        flex-basis: 45%;
        padding: 10px;
    }
    
    .Centro li {
        width: 170px;
        text-align: center;
    }

    .Centro .centro{
        -webkit-appearance: none;
        appearance: none; 
        width: 130px;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 16px;
      }

    .Centro span{
        font-size: 10px;
    }
    
    .Centro .fa-solid, .fa-circle-play, span {
        color: white;
    }

    .Centro .fa-solid {
        margin: 0px 10px 0px 10px;
    }
    
/* Destro */
    .Lato_des {
        flex-basis: 40%;
        padding: 10px;
    }

    .Lato_des  li {
        width: 100%;
    }

    .Lato_des .fa-solid{
        margin-left: 5px;
    }

    /* input range  */
    .Lato_des .destro{
        -webkit-appearance: none;
        appearance: none; 
        width: 50px;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 16px;
      }
      
    .Lato_des .fa-solid{
        color: white;
    }
    
}

 /* Versione tablet */
 @media screen and (min-width: 768px) {

/* Container verticale */

    .container_vert h3 {
        color: white;
        font-size: 25px;
        padding: 20px;
    }

    .container_vert h5, .fa-solid, .fa-regular{
        display: inline-block;
        margin: 0px 15px 0px 0px;
        font-size: 20px;
    }
    
    .container_vert .fa-square-plus {
        font-size: 35px;
    }

    .container_vert img {
        width: 150px;
        margin: 0px 0px 0px -15px;
    }

    .container_vert .Logo2 {
        display: none;
    }

    .container_main .container_vert {
        min-width: 230px;
    }

    .container_vert .down {
        margin-top: 80px;
    } 

/* Container top */

.container_cent .Top_bar {
    padding-left: 35%;
    padding-top: 3%;
}

/* Container centrale */

.container_main .menu {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.container_main .menu a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(113, 113, 113);
    margin:10px 0px 10px 0px;
    width: calc(100% / 3);
    font-size: 12px;
    font-weight: bold;
}

.container_main .menu a:hover {
    color: white;
}

.container_main .block {
    height: 300px;
    width: calc((100% / 2) - 20px);
    margin: 10px;
    text-align: center;
    position: relative;
}

.container_block .block .fa-circle-play {
    display: none;
    position: absolute;
    font-size: 50px;
    color: white;
    top: 15%;
    left: 35%;
}

.container_block .block img {
    width: 90%;
}

/* Container orizzontale */

 .Footer_bar .fa-solid, .fa-regular {
    font-size: 20px;
    }

    .Footer_bar li {
        display: inline-block;
    }

/* Sinistro */
.Footer_bar .Lato_sin {
    flex-basis: 40%;
    padding: 10px;
 }
 
 .Lato_sin  a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(113, 113, 113);
}

.Footer_bar .Lato_sin a:hover {
    color: white;
}

/* Centro */
.Footer_bar .Centro {
        flex-basis: 40%;
        padding: 20px 0px 20px 0px;
    }

    .Centro li {
        width: 100%;
        text-align: center;
    }

    .Centro .fa-solid, .fa-circle-play {
        color: white;
    } 

    .Centro .centro{
        -webkit-appearance: none;
        appearance: none; 
        width: 130px;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 16px;
      }
    

/* Destro */
    .Footer_bar .Lato_des {
        flex-basis: 20%;
        padding: 20px 0px 20px 20px;
    }

    .Lato_des .fa-solid {
        color: white;
    }

    .Lato_des .destro{
        -webkit-appearance: none;
        appearance: none; 
        width: 130px;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 16px;
      }


}


 /* Versione tablet-desktop */
 @media screen and (min-width: 1100px) {



    .container_block .block img {
        width: 60%;
    }

    /* Container footer */

    .Footer_bar .Lato_sin {
        flex-basis: 30%;
    }

    .Footer_bar .Centro{
        flex-basis: 45%;
    }

    .Footer_bar .Lato_des{
        flex-basis: 25%;
    }

    .Centro .centro{
        -webkit-appearance: none;
        appearance: none; 
        width: 330px;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 16px;
      }

    
 }

 /* Versione Desktop */
 @media screen and (min-width: 1500px) {


/* Container Verticale */

    .container_vert .down {
        margin-top: 90px;
    }


/* Container top */

.container_cent .Top_bar {
    padding-left: 65%;
    padding-top: 1%;
}


/* Container centrale */

    .container_main .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    .container_main .menu a{
        margin:10px 0px 10px 0px;
        width: calc((100% / 5) - 30px);
    }

    .container_main .block {
        width: calc((100% / 4) - 20px);
    }

    .container_block .block .fa-circle-play {
        display: none;
        position: absolute;
        font-size: 80px;
        color: white;
        top: 25%;
        left: 35%;
    }

    .container_cent  h3, h7{
        font-size: 20px;
    }
    
    .container_block .block img {
        width: 90%;
    }

/* Container orizzontale */

/* Sinistro */

    .Footer_bar .Lato_sin {
        flex-basis: 25%;
        padding: 10px;
    }

    .Footer_bar .Lato_sin .Select_Img {
        max-width: 80px;
        max-height: 80px;
    }

    /* Centro */
    .Footer_bar .Centro {
        flex-basis: 50%;
        padding-right: 150px;
    }

        /* Destro */
    .Footer_bar .Lato_des {
        flex-basis: 25%;
        padding: 20px 0px 20px 20px;
    }


}


 /* Versione Desktop(mia) */
 @media screen and (min-width: 1900px) {

  
    .container_vert .down {
        margin-top: 210px;
    }

    /* Container top */

    .container_cent .Top_bar {
        padding-left: 72%;
    }
    
    /* Container centrale */

      .container_main .block {
        width: calc((100% / 6) - 20px);
    }

    .container_main .menu {
        display: block;
    }

    .container_main .menu a{
        margin: 0px 20px 0px 20px;
    }


    .container_block .block img {
        width: 100%;
    }



/* Container orizzontale */
    .Footer_bar .Lato_des {
        flex-basis: 25%;
        padding: 20px 0px 20px 150px;
    }

 }






 /************************************************************************
                     PARTE RESPONSIVE CONTENUTO VERTICALE
 *************************************************************************/

 /* Overflow  verticale*/
 @media screen and (max-height: 750px) {

    /* Barra verticale */
    .container_vert .Scroll_list {
        height: 120px;
    }

    .container_vert .down {
        margin-top: 40px;
    }


 }

 @media screen and (max-height: 570px) {

    /* Barra verticale */
    .container_vert .Scroll_list {
        overflow: hidden;
    }

 }
 